<div class="mb-3">
  <h2 class="welcome-message">
    <span class="text-2xl font-bold drop-shadow-xl bg-stone-400 bg-opacity-25">π“›π“‡‹π“ƒ­π“ƒ­π“― π“¤π“›π“„Ώπ“‚‹π“„Ώπ“―π“›</span>
  </h2>
  <p class="text-xl">π“π“›π“‡‹π“‹΄ π“‡‹π“‹΄ π“„Ώ π“ƒ€π“―π“„Ώπ“‚‹π“‚§ π“†‘π“―π“‚‹ π“¤π“›π“„Ώπ“‚‹π“„Ώπ“―π“›</p>
  <h2 class="usage mt-3">
    <span class="text-2xl font-bold drop-shadow-xl bg-stone-400 bg-opacity-25">π“…±π“‹΄π“„Ώπ“Όπ“‡‹</span>
  </h2>
  <p class="text-xl">
    π“π“…±π“‡‹π“‡‹π“ π“π“›π“‡‹ π“‚§π“„Ώπ“‡‹π“ƒ­π“‡‹ π“ƒ­π“‡‹π“†‘π“‡‹ π“―π“†‘ π“π“›π“‡‹ π“¤π“›π“„Ώπ“‚‹π“„Ώπ“―π“›
  </p>
  <p class="text-xl">
    π“‡‹π“ π“‡‹π“‹΄ π“„Ώπ“…±π“π“―π“…“π“„Ώπ“π“‡‹π“΅π“„Ώπ“ƒ­π“ƒ­π“‡‹ π“΅π“―π“–π“†‘π“‡‹π“‚‹π“π“‡‹π“‚§ π“π“― π“›π“‡‹π“‡‹π“‚‹π“―π“Όπ“ƒ­π“‡‹π“¤π“›π“‹΄ π“„Ώπ“–π“‚§ π“¤π“―π“‹΄π“π“‡‹π“‚§
  </p>
  <p class="text-xl">
    π“¤π“‚‹π“‡‹π“‹΄π“‹΄ π“π“›π“‡‹ π“΅π“„Ώπ“ π“ƒ€π“…±π“π“π“―π“– π“―π“– π“„Ώ π“Όπ“―π“―π“‚§ π“¤π“―π“‹΄π“ π“„Ώπ“–π“‚§ π“π“‡‹π“ƒ­π“ƒ­ π“¤π“›π“„Ώπ“‚‹π“„Ώπ“―π“› π“…±π“›π“„Ώπ“ π“‡‹π“―π“…± π“ƒ­π“‡‹π“΅π“‡‹
  </p>
  <h2 class="pharaoh-post-page  mt-3">
    <span class="text-2xl font-bold drop-shadow-xl bg-stone-400 bg-opacity-25">π“¤π“ƒ­π“‡‹π“„Ώπ“‹΄π“‡‹ π“‡‹π“–π“π“‡‹π“‚‹ π“›π“‡‹π“‚‹π“‡‹</span>
  </h2>
  <%= link_to "π“¤π“›π“„Ώπ“‚‹π“„Ώπ“―π“›π“ƒ­π“―π“Όπ“‡‹π“–", session_path, class: "btn btn-primary mt-1", data: { turbo_method: :post } %>
  <h2 class="mt-3"><span class="text-2xl font-bold drop-shadow-xl">εΉ³ζ°‘γ®ζ–Ήγ―γ“γ΅γ‚‰</span></h2>
  <%= link_to "γƒ•γ‚΅γƒ©γ‚γ«γγ‚‹ζ–Ήζ³•γ‚’θΏγΉγ‚‹", "https://www.google.com/search?q=%E3%83%95%E3%82%A1%E3%83%A9%E3%82%AA%E3%81%AB%E3%81%AA%E3%82%8B%E6%96%B9%E6%B3%95", class: "my-2 text-blue-500 underline" %>
</div>